# Environment variables
.env

# Virtual environment
.venv
venv
ENV

# Python artifacts
__pycache__/
*.pyc
*.pyo

# Logs
logs/
*.log

# CSV files (if they are large or generated data)
*.csv

# OS files
.DS_Store
